   .description 
   {
        color: darkgray;
        font-family: arial;
        background-color: yellow;
        border-left:4px;
        border-left-style: dotted;
        border-left-color: black;
        padding-left: 50px;
        width: 1000px;
       

        }
     .chart
     {
     	width:1000px;
     	height:600px;
     	background-color: lightblue;
     }


	.circ1
	{ 
		stroke-color: orange;
		fill: yellow;
		stroke-width: 10px;
		}

	.rect1
	{ 
		stroke-color: orange;
		fill: green;
		stroke-width: 10px;
		}
